html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  position: static !important;
  min-width: 1000px !important;
}

#errdiv,
#logdiv {
  width: 100% !important;
  border-radius: none !important;
  border: none !important;
  text-align: center;
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  display: none;
  position: absolute;
  z-index: 100;
}

#errdiv > button,
#logdiv > button {
  color: black;
  margin-top: 15px;
}

.login {
  width: 300px;
  margin: 0 auto;
  padding-top: 200px;
  margin-bottom: 150px;
}

.controls {
  width: 100%;
  text-align: center;
  padding-top: 25px;
}

#status {
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 5px;
}

#preview {
  width: 400px;
  margin: 0 auto;
  display: none;
}

#textarea {
  width: 100%;
  background-color: transparent;
  border-color: lightgrey;
}

#workDiv {
  margin: 0 auto;
  text-align: center;
}

.connect {
  width: 300px !important;
  margin: 0 auto;
}

.dropdown {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.wlimit {
  width: 900px;
  margin: 0 auto !important;
}

#toggledimmer,
#starttutorial {
  margin: 0 auto !important;
}

#table-status {
  font-style: italic;
  float:right;
  margin-top: 5px;
  margin-right: 20px;
}

.dbblue {
  background-color: blue;
}
.dbred {
  background-color: red;
}
.dbgreen {
  background-color: green;
}
.dbpurple {
  background-color: purple;
}
.dbyellow {
  background-color: yellow;
}

#topgraph,
#bargraph,
#bottomgraph {
  font-style: italic;
  text-align: center;
}


#bargraph > p {
  margin: 20px;
  margin-right: 30px;
}


.rightinfo > p {
  margin: 25px;
}

.cleancol {
  padding: 0;
}

.grid {
  margin-top: 0 !important;
  margin-bottom: 100px !important;
}

.connect > span > span > input,
.connect > span > span > span {
  margin-top: 15px !important;
}

.dimmer {
  background-color: rgba(0,0,0,0.95) !important;
}

.error {
  color: #e74c3c;
  font-style: italic;
  margin-top: 15px;
  display: none;
}

.log {
  color: #3498db;
  font-style: italic;
  margin-top: 15px;
}

#blocklyDiv {
  height: 525px;
  margin-left: 20px;
}

.buttons {
  padding-left: 20px;
}

.ui.modal {
  width: 600px !important;
  margin: 0 auto;
}

.header {
  width: 100% !important;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  margin-top: 45px !important;
}

body,
.cutbottom {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

#send-status {
  color: #27ae60;
  padding-top: 15px !important;
  padding-right: 4px;
  font-style: italic;
  display: none;
}

.hideme {
  display: none !important;
}

.bottomgraphelement {
  display: inline-block;
  margin: 25px;
}

#gpswarning {
  color: #e74c3c;
  width: 75%;
  padding-left: 125px;
  padding-right: 125px;
  margin-bottom: 0 !important;
  margin: 0 auto !important;
  margin-top: 25px !important;
}

.footer {
  margin-bottom: 50px;
  text-align: center;
  font-style: italic;
  color: black;
}

.footer > b > a {
  color: inherit !important;
}

#bargraph > span > p,
#bargraph > p {
  text-align: justify;
  margin-top: 25px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

#bargraph > .button,
#bargraph > span > div > .button {
  margin-bottom: 45px;
}

.congrats {
  font-size: 25px;
}

#step-1a-success,
#step-1b-success,
#step-1c-success,
#step-2-success,
#step-3-success,
#step-4a-success,
#step-4b-success,
#step-5-success,
#step-1a-fail,
#step-1b-fail,
#step-1c-fail,
#step-2-fail,
#step-3-fail,
#step-4a-fail,
#step-4b-fail,
#step-5-fail {
  display: none;
}

#step-1a-fail > p,
#step-1b-fail > p,
#step-1c-fail > p,
#step-2-fail > p,
#step-3-fail > p,
#step-4a-fail > p,
#step-4b-fail > p,
#step-5-fail > p {
  text-align: justify !important;
  margin: 0 auto !important;
  margin-bottom: 25px !important;
  margin-top: 25px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

#bargraph,
#BarLoader {
  margin-top: 0px !important;
  margin-right: 20px !important;
}

#BarLoader {
  margin: 14px 28px 45px 16px !important;
  width: 85%;
  height: 525px;
}

#TopLoader,
#BarLoader {
  display: none;
}

.tutorialinfo {
  background-color: #ecf0f1;
  border: solid 3px #bdc3c7;
  border-radius: 2px;
  height: 525px;
}

.tutorialsuccess {
  background-color: #2ecc71;
  border: solid 3px #27ae60;
  border-radius: 2px;
  height: 525px;
}

.tutorialfailed {
  background-color: #e74c3c;
  border: solid 3px #c0392b;
  border-radius: 2px;
  height: 525px;
}

#stoptutorial {
  display: none;
  margin-left: 20px;
}

p.diminfo {
  padding: 35px;
  text-align: justify;
}

.solution {
  border-radius: 2px;
  border: 3px solid #bdc3c7;
  margin-bottom: 25px;
}

.solution:hover {
  cursor: pointer;
}

.fullscreen {
  height: 650px !important;
}

.fullscreen-margin {
  margin-right: 25px !important;
}

.arrow.up.icon,
.refresh.icon {
  padding: 0 !important;
  margin: 0 !important;
}

#topGraphLegend {
  max-width: 800px !important;
  margin: 0 auto;
  padding-top: 16px !important;
}
.info {
  margin: 2px;
  margin-left: 4px;
  margin-right: 4px;
}

.mid {
  margin: 0 auto !important;
  padding: 0 !important;
}

/* Side bar */

.ui.bulleted.list {
  margin-bottom: 35px;
}

.ui.bulleted.list > .item {
  margin: 0px 30px 0px 20px;
  text-align: justify;
}

.rounded: {
  border-radius: 8px !important;
}

.step-data {
  display: none !important;
}

.step-description > span.before-success > p,
.step-description > p {
  margin: 0px 25px 15px 25px;
  text-align: justify;
}

.on-success {
  display: none;
}

.on-success > p,
.step-description > p {
  margin-bottom: 25px;
}

#red-disconnect-btn {
  display: none;
}

#topgraph {
  margin-bottom: 0px !important;
}
.maingrid {
  margin-bottom: 0px;
}

.above-btn {
  margin-bottom: 15px !important;
}

#blocks-bar {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.header > .content > a {
  color: inherit;
}

#tutorial-progress {
  border: none;
  background-color: #7f8c8d;
  padding: 0;
  border-radius: 0;
}
#tutorial-progress > bar {
  border-radius: 0px !important;
}

.progress-container {
  height: 450px;
  margin-top: 0px;
}

#tutorial-chapter-select {
}

#tutorial-title {
  padding-top: 35px;
}

.progress-data {
  font-size: 8px;
  color: #7f8c8d;
}

h3 {
  margin-top: 18px !important;
}

#reset-step {
  display:none;
}

.video-container {
  width: 400px;
}

.video-container > p {
  width: 400px;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 25px;
}

.video-container > h2 {
  margin-bottom: 35px;
}

.skip-video {
  color: grey;
  width: 400px;
  margin: 0 auto;
  text-align: right;
  margin-top: 10px;
}

.clickable:hover {
  cursor: pointer;
}

.boxed {
  height: 200px !important;
  overflow: scroll !important;
  margin: 0 auto;
}

.boxed > p {
  margin-bottom: 10px !important;
  width: 400px;
  margin: 0 auto;
}

#record {
  color: #7f8c8d;
}

#tableinfo {
  display:none;
}

#rule-send-btn,
#step-5-send-btn {
  margin-top: 25px;
}

#callwarning {
  display: none;
}
