<h3>Zetten van <span id="movesUsernameView"><span></h3>
<canvas id="MovesChart" width="90" height="90"></canvas>
<h3>Gevuurde regels van <span id="rulesUsernameView"></span></h3>
<canvas id="RulesChart" width="90" height="90"></canvas>
<h3>Rekentijd per speler</h3>
<canvas id="CalculationTime" width="90" height="90"></canvas>

<div id="BarLoader" class="ui active dimmer">
  <div class="ui loader"></div>
</div>

<script>

  // Define the charts to be in the global namespace.
  var calculationTimeChart = null;
  var movesChart = null;
  var rulesChart = null;

  /**
   *  Creates the calculationTimeChart with the data that is prepared by the
   *  parseCalculationTimePieChartData() function.
   *  @param  data  The data to display.
   *  @param  total The total value (sum of all values).
   */
  var createCalculationTimePieChart = function(data, total) {
    var information = [], i = 0;
    for(index in data) {
      var value = Math.round((data[index]/total)*100);
      var label = index + ' - ' + value + '%';
      var element = {
        value: value,
        color: GRAPH_COLORS[i],
        highlight: GRAPH_COLORS[i],
        label: label
      }
      information.push(element);
      i++;
    }
    var options = {
      tooltipTemplate: "<%= label %>",
      tooltipFontSize: 8,
      showTooltips: true,
      animation: false
    }
    if (calculationTimeChart != null) calculationTimeChart.destroy();
    var context = $('#CalculationTime').get(0).getContext('2d');
    calculationTimeChart = new Chart(context).Pie(information, options);
  }

  /**
   *  Function that parses the raw data (as received from the server) to the
   *  data that is needed in order to display it in the CalculationChart.
   *  @param  raw   The JSON formatted data as received from the server.
   */
  var parseCalculationTimePieChartData = function(raw) {
    var list = raw['result']['player'];
    var result = {};
    var total = 0;
    for(var i = 0; i < list.length; i++) {
      result[list[i]['name']] = list[i]['time used'];
      total += list[i]['time used'];
    }
    createCalculationTimePieChart(result, total);
  }

  /**
   *  Creates the movesChart with the data that is prepared by the
   *  parseMoveChartData() function. Also the username will be set in the
   *  movesUsernameView.
   *  @param  data  The data to display.
   *  @param  total The total value (sum of all values).
   */
  var createMovesChart = function(data, total) {
    $('#movesUsernameView').html(SESSION.getAbbreviatedUsername());
    var information = [], i = 0;
    for(index in data) {
      var value = Math.round((data[index]/total)*100);
      if (index == 'nbCalls') {
        try {
          if (value > 50) { console.log('ja'); notifyCalls(); }
          else { notifyStopCalls(); }
        } catch(e){}
      }
      var label = index + ' - ' + value + '%';
      var element = {
        value: value,
        color: GRAPH_COLORS[i],
        highlight: GRAPH_COLORS[i],
        label: label
      }
      information.push(element);
      i++;
    }
    var options = {
      tooltipTemplate: "<%= label %>",
      tooltipFontSize: 8,
      showTooltips: true,
      animation: false
    }
    if (movesChart != null) movesChart.destroy();
    var context = $('#MovesChart').get(0).getContext('2d');
    movesChart = new Chart(context).Pie(information, options);
  };

  /**
   *  Function that parses the raw data (as received from the server) to the
   *  data that is needed in order to display it in the MovesChart.
   *  @param  raw   The JSON formatted data as received from the server.
   */
  var parseMoveChartData = function(raw) {
    var list = raw['result']['player'];
    var result = {};
    var total = 0;
    for(var i = 0; i < list.length; i++) {
      if (list[i]['name'] == SESSION.getServerUsername()) {
        result['nbFolds'] = list[i]['nbFolds'];
        result['nbCalls'] = list[i]['nbCalls'];
        result['nbRaises'] = list[i]['nbRaises'];
        total = result['nbFolds'] + result['nbCalls'] + result['nbRaises'];
      }
    }
    createMovesChart(result, total);
  };

  /**
   *  Creates the rulesChart with the data that is prepared by the
   *  parseRuleChartData() function. Also the username will be set in the
   *  rulesUsernameView.
   *  @param  data  The data to display.
   *  @param  total The total value (sum of all values).
   */
  var createRulesChart = function(data, total) {
    $('#rulesUsernameView').html(SESSION.getAbbreviatedUsername());
    var information = [], i = 0;
    for(index in data) {
      var value = Math.round((data[index]/total)*100);
      var label = index + ' - ' + value + '%';
      var element = {
        value: value,
        color: GRAPH_COLORS[i],
        highlight: GRAPH_COLORS[i],
        label: label
      }
      information.push(element);
      i++;
    }
    var options = {
      tooltipTemplate: "<%= label %>",
      tooltipFontSize: 8,
      showTooltips: true,
      animation: false
    }
    if (rulesChart != null) rulesChart.destroy();
    var context = $('#RulesChart').get(0).getContext('2d');
    rulesChart = new Chart(context).Pie(information, options);
  };

  /**
   *  Function that parses the raw data (as received from the server) to the
   *  data that is needed in order to display it in the RuleChart.
   *  @param  raw   The JSON formatted data as received from the server.
   */
  var parseRuleChartData = function(raw) {
    var list = raw['result']['player'];
    var result = {};
    var total = 0;
    for(var i = 0; i < list.length; i++) {
      if (list[i]['name'] == SESSION.getServerUsername()) {
        var rules = list[i]['rulesUsed'];
        for(var j = 0; j < rules.length; j++) {
          result[rules[j]['name']] = rules[j]['times'];
          total += rules[j]['times'];
        }
      }
    }
    createRulesChart(result, total);
  }

  /**
   *  This function fetches the data and generates the three different
   *  pie charts that will be displayed in the right side bar.
   */
  var fetchDataForBarCharts = function() {
    SERVER.getTableData(SESSION.getRawTablename(), {
      success: function(result) {
        try {
          var data = $.parseJSON(result);
          parseCalculationTimePieChartData(data);
          parseMoveChartData(data);
          parseRuleChartData(data);
          setTimeout(function() {
            fetchDataForBarCharts();
          }, 2500);
        } catch(error) {  console.error('bar:' + error);  }
      },
      fail: function(error) {
        if (error != 'Ongeldige tafelnaam.') {
          LOGGER.error(error);
        }
      }
    });
  };

  /**
   *  When everything is loaded, start fetching the data for the bar charts so
   *  they can start displaying the data in real time.
   */
  $(document).ready(function() {
    fetchDataForBarCharts();
  });


</script>
